<div id="information-window" class="window black-border-text" [class.active-window]="activeWindow" style="border-image-source: url('assets/ui/frame.png');">
    <h1 style="background-image: url('assets/ui/name_frame_mid_ready.png')">Credits</h1>
    <div class="information-section" id="credits">
        Many thanks to Blue!
    </div>
    <h1 style="background-image: url('assets/ui/name_frame_mid_ready.png')">Options</h1>
    <div class="information-section" id="options">
        <button class="action-button  black-border-text" style="background-image: url('assets/ui/long_button.png')" (click)="clearSave()">Clear Save</button>
    </div>
</div>