.plant-instance{
    margin: 4px;
}

.water{
    background-color: #99f;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
}
.harvest{
    background-color: #f99;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
}