<div id="field" style="background-image: url(assets/grass.jpg)" [style]="getFieldStyle()" oncontextmenu="return false;"
 (mousedown)="onMouseDown($event)" (window:mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)">
    <div id="background" (mousedown)="onBackgroundMouseDown()"></div>
    <div id="dirt-spots">
        <div class="dirt" *ngFor="let dirt of getDirtSpots()" [ngStyle]="getDirtStyle(dirt)" [class.selected-dirt]="dirt == getSelectedDirt()">
            <div class="dirt-background-blurry"  style="background-image: url(assets/dirt2.png)"></div>
            <div class="dirt-background"  style="background-image: url(assets/dirt2.png)"
                (click)="onMouseDownDirt(dirt)"  (mouseenter)="onMouseEnterDirt(dirt)" (mouseexit)="onMouseExitDirt(dirt)"></div>
            <app-plant [plant]="getPlant(dirt)"></app-plant>
            <div class="dirt-exp" [ngStyle]="getEXPStyle(dirt)">+{{dirt.xpValue}} <span>EXP.</span></div>
            <div class="dirt-money" [ngStyle]="getMoneyStyle(dirt)">+ <span>$</span>{{getMoneyValue(dirt)}}</div>
        </div>
    </div>
    <div id="prospective-dirt-spots" *ngIf="getHoeing()">
        <div class="prospective-dirt" *ngFor="let dirt of getProspectiveDirtSpots()" [ngStyle]="getDirtStyle(dirt)" (click)="onMouseDownProspective(dirt)">
            <div class="prospective-dirt-hover"></div>
        </div>
    </div>
    <div id="collected-items-animations">
        <div class="collected-item-animation" *ngFor="let item of getCollectedItemAnimations()" [ngStyle]="getCollectedItemStyle(item)">
            <img [src]="'assets/items/' + item.item.icon">
        </div>
    </div>
</div>