<div id="main" [ngStyle]="getMainStyle()" *ngIf="isShoveling()">
    <div id="seed-list">
        <button class="seed-button" [style]="getSeedOptionStyle(seedInfo)" *ngFor="let seedInfo of getSeedOptions()" (click)="selectSeed(seedInfo)">
            <img [src]="'assets/items/' + seedInfo.seed.icon">
            <div class="seed-button-count">x{{getAmount(seedInfo)}}</div>
        </button>
    </div>
    <div id="selected-seeds">
        <button class="seed-selected" *ngFor="let seed of getSelectedSeeds(); index as i" (click)="removeSeed(i)" style="background-image: url('assets/ui/little_background_frame.png')">
            <img [src]="'assets/items/' + seed?.icon" *ngIf="seed != null">
        </button>
    </div>
    <div id="pattern-size-selector">
        <img id="seed-minus" src="assets/ui/Minus.png" (click)="changeSeedAmount(false)" [class.can-select]="canChangeSeedAmount(false)">
        <img id="seed-plus" src="assets/ui/Plus.png" (click)="changeSeedAmount(true)" [class.can-select]="canChangeSeedAmount(true)">
    </div>
    <div id="seed-submission">
        <button id="clear" (click)="clearSeeds()"><img src="assets/rubbish-bin.svg"></button>
        <button id="submit" [style.border-color]="getSubmissionText().color" (click)="submitSeedCombination()">
            <div id="submit-top">
                {{getSubmissionText().top}} 
                <div class="tooltip-hover">?
                    <div class="tooltip">{{getSubmissionText().tooltip}}</div>
                </div>
            </div>
            <div id="submit-bottom">({{getSubmissionText().bottom}})</div>
        </button>
    </div>
</div>