#header{
    position: absolute;
    display: flex;
    top: 0;
    left: 230px;
    height: 40px;
    padding-left: 14px;
    background-size: calc(100% + 5px) calc(100% + 10px);
    background-position: -5px -5px;
    filter: drop-shadow(1px 1px 3px black);
    z-index: 10;

    #header-border{
        position: absolute;
        top: -20px;
        left: -10px;
        width: calc(100% + 10px);
        height: calc(100%);
        border: 30px solid transparent;
        border-image-slice: 34;
        box-sizing: border-box;
    }

    #header-money, #header-experience{
        flex: 1;
        font-size: 20px;
        line-height: 40px;
        margin-left: 6px;
        background-repeat: repeat;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        user-select: none;
        cursor: pointer;

        &:hover{
            filter: brightness(1.2)
        }

        & b{
            font-size: 26px;
        }
    }

    #header-money{
        text-align: right;
        padding-right: 40px;
        background-image: linear-gradient(#274814, #3ecf62);
    }

    #header-experience{
        background-image: linear-gradient(#484314, #e6ff95);
        padding-right: 40px;

        & i{
            margin-left: 4px;
            font-style: normal;
            font-family: "IM Fell English", serif;
        }
    }
}

#window-selector{
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 10;
    background-color: black
}

#window-selector-tabs{
    display: flex;
}

#window-selector-border{
    position: absolute;
    top: -7%;
    left: -13%;
    width: 115%;
    height: 118%;
    border: 18px solid transparent;
    border-image-slice: 34;
    box-sizing: border-box;
    pointer-events: none;
}

.window-tab{
    width: 40px;
    height: 40px;
    border-radius: 0 3px 3px 0px;
    background-color: brown;
    border: 9px solid transparent;
    border-image-slice: 43;
    background-size: 52px 56px;
    background-position: -4px -8px;
    cursor: pointer;
    user-select: none;

    &:hover{
        filter: brightness(.9);
        transform: translateY(1px);
    }
    &:active{
        filter: brightness(.8);
        transform: translateY(3px);
    }

    img{
        position: relative;
        top: 50%;
        left: 50%;
        width: 32px;
        height: 32px;
        transform: translate(-50%, -50%);
        filter: drop-shadow(2px 2px 2px black);
        opacity: .7;
        pointer-events: none;
    }
}