

@keyframes appear{
    0% { transform: translateY(4px) }
    75% { transform: translateY(-2px) }
    100% {transform: translateY(0) }
}

@keyframes appear-i{
    0% { transform:  translate(-50%, -50%) translateY(8px) scaleX(.6)}
    75% { transform:translate(-50%, -50%) translateY(-4px) scaleX(1.4) }
    100% {transform: translate(-50%, -50%) }
}

.plant-instance{
    display: inline-block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 80%;
    text-align: center;
    z-index: 2;
    color: white;
    transform: translate(-50%, -50%);
}

.water{
    background-color: #99f;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
}
.harvest{
    background-color: #f99;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
}

.plant-display{
    pointer-events: none;
    position: relative;
    top: 20%;
    left: 50%;
    image-rendering: pixelated;
    animation: appear-i .4s;
}

.plant-title{
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 95%;
    background-color: rgba(0,0,0,.6);
    border-radius: 20px;
    color: white;
    font-size: 14px;
    border: 2px solid black;
    font-family: "IM Fell English", serif;

    transform: translateX(-50%)
}

.watering-icon, .harvest-icon{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    padding: 2px;
    border: 1px solid black;

    img{
        width: 16px;
        height: 16px;
        animation: appear .1s;
    }
}

.watering-icon{
    background-color: blue;
}
.harvest-icon{
    background-color: brown;
}