body{
    overflow:hidden
}

.black-border-text{
    text-shadow: 1px 1px 2px black,  -1px -1px 2px black,  1px -1px 2px black,  -1px 1px 2px black, 1px 1px 2px black,  -1px -1px 2px black,  1px -1px 2px black,  -1px 1px 2px black;
}

.window{
    min-width: 440px;
    height: 90vh;
    position: absolute;
    top: -2vh;
    padding-top: 70px;
    padding-bottom: 2vh;
    transition: left .3s;
    background-color: green;
    border: 14px solid transparent;
    border-image-slice: 28;
    background: radial-gradient(farthest-corner at 46px 51px, #0f1a60, #0b123e);
    z-index: 5;
}

.window.active-window{
    left: -15px;
}

.window:not(.active-window){
    left: -100%;
}



.tooltip-hover{
    position: relative;
    font-family: 'Courier' !important;
    display: inline-block;
    width: 10px;
    height: 10px;
    font-size: 10px;
    line-height: 10px;
    padding: 1px;
    padding-top: 2px;
    vertical-align: middle;
    background-color: black;
    color: white;
    border-radius: 100%;
    text-align: center;
    
    &:hover{
        .tooltip{
            opacity: 1;
            transform: translateX(-50%);
        }
    }

    .tooltip{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
        position: absolute;
        width: 250px;
        background-color: #444;
        color: white;
        padding: 8px;
        border-radius: 5px;
        bottom: 110%;
        left: 50%;
        transition: .1s;
        font-weight: normal;
        font-size: 14px;
        line-height: normal;
        pointer-events: none;
        transform-origin: 50% 100%;
        opacity: 0;
        transform: translateX(-50%) scaleY(0);
    }

}


.action-button{
    display: block;
    padding: 10px 8px 8px 8px;
    margin: auto;
    font-size: 18px;
    background-size: 108% 108%;
    background-color: transparent;
    border: none;
    color: rgba(254,231,214,.9);
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    font-family: "IM Fell English", serif;

    &:hover{
        filter: brightness(.9);
        transform: translateY(1px)
    }
    &:active{
        filter: brightness(.8);
        transform: translateY(3px)
    }
}

.information-section{
    padding: 60px 20px 20px 20px;
}

.information-header{
    position: relative;
    z-index:1;
    padding: 2px;
    width: 60%;
    height: 55px;
    background-size: 100% 100%;
    margin: 12px 0px -40px 10px;
    text-align: center;
    line-height: 55px;
    color: rgba(255, 255, 200, 0.6);
    font-family: "DM Serif Display", serif;
    user-select: none;

    .header-title{
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    &:hover{
        filter: brightness(1.2)
    }

}



::-webkit-scrollbar {
    background-color: rgba(0,0,0,.3);
    width: 9px;
    height: 6px;
    box-shadow: 0px 0px 3px black inset;
    border-bottom: 1px black;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(200,200,255, .2);
    border-radius: 17px;
    border: 1px solid transparent;
    background-clip: padding-box;
    pointer-events: none;
}